aside {
  height: 100vh;
  border-radius: 0.8em;
  width: 15vw;
  background: #fff;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.1);
}

.logo__img {
  height: 7em;
  margin-top: -1.5em;
}

.aside__links {
  margin-top: -1.5em;
}

.aside__link {
  display: block;
  padding: 0.8em 0.8em 0.8em 2em;
  margin: 0.2em 1em;
  color: #000;
  font-size: 1em;
  font-weight: 600;
}

.aside__link:hover {
  color: #fff;
  background: #ea2329;
  border-radius: 1.2em;
}

.aside__link__icon {
  margin-right: 1em;
}

.aside__footer {
  position: absolute;
  bottom: 1em;
  width: 14.5em;
}
