table.table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 0.8em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.table thead th {
  background-color: #fff;
}

.table thead th:last-child {
  text-align: left;
  padding-left: 2.5em;
}

.table th,
.table td {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #fff;
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.table td .fa-circle {
  font-size: 0.8em;
  margin-right: 0.5em;
}

.table td:last-child {
    text-align: left !important;
}

.convo-on {
  color: rgb(255, 123, 0);
}

.convo-done {
  color: rgb(53, 228, 53);
}

.convo-stop {
  color: red;
}
