.pie {
    flex: 0.25;
    margin-bottom: 1em;
    background-color: white;
    /* height: 7em; */
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.pie__top {
    margin-left: -1em;
    margin-right: -1em;
    font-weight: 600;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 0.5px solid #C4C4C4;
}